body {
    margin: 50px 50px 80px 100px;
    font-family: "Audiowide", sans-serif;
    background-color: #5098b4e7;
}
h1{
    font-family: "Sofia", sans-serif;
    font-size: 30px;
    margin-left: 40px;
}
p{
    font-size: 18px;
    margin-left: 40px;
}
input[type=number] {
    width: 20px;
    border: 2px solid #ccc;
    border-radius: 30%;
    font-size: 14px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 4px 6px 4px 6px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
table{
    width: 300px;
    padding: 15px 30px 15px 30px;
    background-color: aliceblue;
    margin-left: 60px;
    font-family: "Sofia", sans-serif;
    border: 1px solid;
}
.button1 {
    padding-left: 50px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  

  
.button-73 {
margin: 20px;
padding-left: 50px;
appearance: none;
background-color: #FFFFFF;
border-radius: 40em;
border-style: none;
box-shadow: #ADCFFF 0 -12px 6px inset;
box-sizing: border-box;
color: #000000;
cursor: pointer;
display: inline-block;
font-family: -apple-system,sans-serif;
font-size: 1.2rem;
font-weight: 700;
letter-spacing: -.24px;
margin: 0;
outline: none;
padding: 1rem 1.3rem;
quotes: auto;
text-align: center;
text-decoration: none;
transition: all .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-73:hover {
background-color: #FFC229;
box-shadow: #FF6314 0 -6px 8px inset;
transform: scale(1.125);
}

.button-73:active {
transform: scale(1.025);
}

@media (min-width: 768px) {
.button-73 {
font-size: 1.5rem;
padding: 15px;
margin: 30px;

}
}